# Files
myconfiguration.py
*~
*.pyc
*.pot
*.pyo
*.log
*.zip
local_settings.py
myconfiguration.py
.coverage
.DS_Store
# Paths
dist/*
build/*
bin/*
.project
.pydevproject
.settings
acidentes_em_rodovias/.sonar
acidentes_em_rodovias/acidentes_em_rodovias/settings.py