<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Acidentes em Rodovias</title>

  
  <link rel="stylesheet" href="{{ STATIC_URL }}css/foundation.css">
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/Ar-icon.png" type="image/x-icon" />
  
  <script src="{{ STATIC_URL }}js/vendor/custom.modernizr.js"></script>
  <script src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
  <script src="{{ STATIC_URL }}js/foundation.min.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts.js"></script>
  <script src="{{ STATIC_URL }}js/highcharts-more.js"></script>
  <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>
  <script src="{{ STATIC_URL }}js/canvg/canvg.js"></script>
  <script src="{{ STATIC_URL }}js/canvg/rgbcolor.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA6rh80aw6WdC6luxy00sJD05g5rOSS9Ek&sensor=false"></script>
  <script src="{{ STATIC_URL }}js/gmap3.js"></script>
        
  <script type="text/javascript">
    (function (H) {
        H.Chart.prototype.createCanvas = function (divId) {
            var svg = this.getSVG(),
                width = parseInt(svg.match(/width="([0-9]+)"/)[1]),
                height = parseInt(svg.match(/height="([0-9]+)"/)[1]),
                canvas = document.createElement('canvas');
            
            canvas.setAttribute('width', width);
            canvas.setAttribute('height', height);
            
            if (canvas.getContext && canvas.getContext('2d')) {
            
                canvg(canvas, svg);
                
                var image = canvas.toDataURL("image/png")
                    .replace("image/png", "image/octet-stream"); 
        
                // Save locally
                window.location.href = image;
            } else {
                alert ("Your browser doesn't support this feature, please use a modern browser");
            }
            
        }
    }(Highcharts));
  </script>
</head>
<body>
    
    <div class="fixed">
    <nav class="top-bar fixed">
          <ul class="title-area">
              <li class="name">
                   <h1><a href="{% url 'app.controller.index_controller.index' %}">Acidentes em Rodovias</a></h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a>
              </li>
          </ul>
          <section class="top-bar-section">
              <ul class="left">
                  <li class="divider"></li>
                  <li class="has-dropdown"><a href="#">Consulta</a>
                      <ul class="dropdown">
                          <li><label>Selecione o tipo de consulta</label></li>
                          <li><a href="{% url 'app.controller.consultabasica_regiao_controller.consulta_por_regiao' %}">Região</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.consultabasica_periodo_controller.consulta_por_periodo' %}">Período</a></li>
                      </ul>
                  </li>
                  <li class="divider"></li>
                  <li class="has-dropdown"><a href="#">Estatísticas</a>
                      <ul class="dropdown">
                          <li><label>Selecione o tipo de estatística</label></li>
                          <li><a href="{% url 'app.controller.estatisticas_tipos_controller.tipos_acidentes' %}">Tipos de acidentes</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.estatisticas_causas_controller.causas_acidentes' %}">Causas de acidentes</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.estatisticas_envolvidos_controller.ocorrencias_e_envolvidos' %}">Número de ocorrências/envolvidos</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.estatisticas_envolvidos_controller.acidentes_sexo' %}">Homens/Mulheres envolvidos</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.estatisticas_br_controller.acidentes_br' %}">Acidentes por BR</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url 'app.controller.estatisticas_uf_controller.acidentes_uf' %}">Acidentes por UF</a></li>
                      </ul>
                  </li>
          </section>
      </nav>
    </div>