{% include 'header.html' %}
    

    <div class="row">
        <div class="large-12 columns">
            <h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
            <hr />
       </div>
    </div>

    <div class="row">
    	<div class="large-12 columns">
    		<p> Acidentes em Rodovias - Uma aplicação de análise sobre dados de boletins de ocorrência de acidentes em rodovias federais Brasileiras (An application of data analysis from police reports of accidents in Brazilian federal highways).</p>

            <p>Projeto em realização conjunta por alunos das disciplinas Gestão de Portifólios e Projetos de Software (GPP) e Métodos de Desenvolvimento de Software (MDS) do curso de <a href="http://fga.unb.br">Engenharia de Software, Universidade de Brasília</a>. </p>
    	</div>

        <p><center><em><strong>* Selecione uma opção no menu superior.</strong></em></center></p>
    </div>

{% include 'footer.html' %}