{% include 'header.html' %}

  <div class="row">
    <div class="large-12 columns">
      <h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
      <hr />
      <div class="row">
          <h4><center>Consulta por Período</center></h4>
      </div>
     </div>
  </div>
  
  <div class="row">
      <form class="custom" action="{% url 'app.controller.consultabasica_periodo_controller.consulta_ocorrencias_por_periodo' %}">
  	<div class="large-4 columns">
	      <input type="text" id="de" name="data_inicio" placeholder="De (dd/mm/aaaa)" />
	    </div>
	    <div class="large-4 columns">
	      <input type="text" id="ate" name="data_fim" placeholder="Até (dd/mm/aaaa)" />
	    </div>

	    <div class="large-4 columns">
		<button id="btn_submit" class="button postfix">Buscar</button>
	    </div>
	</form>
  </div>

  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css" />
  
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

  <script>
    $(function() {
      $( "#de" ).datepicker({
        defaultDate: "01/01/08",
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#ate" ).datepicker( "option", "minDate", selectedDate );
        }
      });
      $( "#ate" ).datepicker({
        dateFormat: 'dd/mm/yy',
        dayNames: ['Domingo','Segunda','Terça','Quarta','Quinta','Sexta','Sábado'],
        dayNamesMin: ['D','S','T','Q','Q','S','S','D'],
        dayNamesShort: ['Dom','Seg','Ter','Qua','Qui','Sex','Sáb','Dom'],
        monthNames: ['Janeiro','Fevereiro','Março','Abril','Maio','Junho','Julho','Agosto','Setembro','Outubro','Novembro','Dezembro'],
        monthNamesShort: ['Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
        nextText: 'Próximo',
        prevText: 'Anterior',
        defaultDate: "01/01/09",
        numberOfMonths: 1,
        onClose: function( selectedDate ) {
          $( "#de" ).datepicker( "option", "maxDate", selectedDate );
        }
      });
    });
  </script>
{% include 'footer.html' %}
