{% include 'header.html' %}

	<div class="row">
		<div class="large-12 columns">
			<h2><center><img src="{{ STATIC_URL }}img/Ar-name.jpg"/> Acidentes em Rodovias <img src="{{ STATIC_URL }}img/Ar-name.jpg"/></center></h2> 
			<hr />
			<h4><center>Resultado da consulta</center></h4>
      <br />
		</div>
	</div>
  
  <div class="row">
    <div class="large-9 push-3 columns">    
    <div class="row">
      <div class="large-12 columns">
        {% for erro in erros %}
          <b style="color:red">{{erro}}</b>
        {% endfor %}
        {% for ocorrencia in ocorrencia_list %}
        <div class="resultados">
          <h4 class="subheader">Ocorrência #<span class="id_ocorrencia">{{ocorrencia.ocoid}}</span></h4>
          <p><b>Rodovia (BR):</b> <span class="br">{{ocorrencia.lbrbr}}</span></p>
          <p><b>Data da ocorrência:</b> <span class="data_ocorrencia">{{ ocorrencia.ocodataocorrencia }}</span></p>
          <p><b>Data de registro:</b> <span class="data_registro">{{ocorrencia.ocodataregistro}}</span></p>
          <p><b>Região:</b> <span class="municipio">{{ocorrencia.tmudenominacao}}</span> - <span class="uf">{{ocorrencia.tmuuf}}</span></p>
          <p><b>Tipo de ocorrência:</b> {{ocorrencia.tcodescricao}} (<span class="tipo_acidente">{{ocorrencia.ttadescricao}}</span>)</p>
          <p><b>Causa do acidente:</b> <span class="causa_acidente">{{ocorrencia.tcadescricao}}</span></p>
          <p><b>Veículo envolvido:</b> <span class="marca_veiculo">{{ocorrencia.tmvdescricao}}</span> (<span class="modelo_veiculo">{{ocorrencia.tvvdescricao}}</span>)</p>
          <hr>  
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="large-3 pull-9 columns">
    <div class="docs section-container accordion" data-section="accordion" data-section-small-style="true">
      {% if tipo_consulta == 'regiao' %}
      <section class="section active">
      {% else %}
      <section class="section">
      {% endif %}
        <p class="title"><a href="#">Região</a></p>
        <div class="content">
          <ul class="side-nav">
            <li>Cidade:<a href="#">{{municipio}}</a></li>
            <li>UF:<a href="#">{{uf}}</a></li>
          </ul>
        </div>
      </section>

      {% if tipo_consulta == 'periodo' %}
      <section class="section active">
      {% else %}
      <section class="section">
      {% endif %}
      <p class="title"><a href="#">Periodo</a></p>
      <div class="content">
        <ul class="side-nav">
          <li>De:<a href="#">{{data_inicio}}</a></li>
          <li>Até:<a href="#">{{data_fim}}</a></li>
        </ul>
      </div>
      </section>

      
    </div>
  </div>

  </div>

{% include 'footer.html' %}